[
  {
    "rpcUrl": "ws://127.0.0.1:9944",
    "keys": [
      {
        "sUri": "nut hire energy drill planet book wreck post saddle lend barrel twin//validator//1//aura",
        "keyType": "aura",
        "keyringType": "sr25519"
      },
      {
        "sUri": "nut hire energy drill planet book wreck post saddle lend barrel twin//validator//1//grandpa",
        "keyType": "gran",
        "keyringType": "ed25519"
      }
    ]
  }
]
